body
{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.navbar
{
    width: 100%;
    background: #202020;
    color: white;
    display: flex;
    border-top: 1px solid gray;
   justify-content: center;
}

.navitem
{
    display: flex;
}

.button
{
    padding: 20px;
}

.button > a
{
    text-decoration: none;
    color: white;
}

.logo
{
    font-weight: 700;
    padding: 40px;
    font-size: 72px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.logo > img
{
    border-radius: 50%;
}