body
{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: #f3f3f3;
}

.navbar
{
    width: 100%;
    background: #202020;
    color: white;
    display: flex;
    border-top: 1px solid gray;
    justify-content: center;
}

.navitem
{
    display: flex;
}

.button
{
    padding: 20px;
}

.button > a
{
    text-decoration: none;
    color: white;
}

.logo
{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.logo > h1
{
    font-size: 90px;
    text-align: center;
}

.logo > h1 > img
{
    border-radius: 50%;
    margin-right: 20px;
}

.container
{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
}
.article
{
    width: 70%;
    background: white;
}

.articleheader
{
    text-align: center;
}

.articleheader > h1
{
    margin-top: 50px;
    font-size: 42px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.articleheader > h2
{
    font-size: 15px;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
   line-height: 1;
}

.image
{
    margin: 0 auto;
    width: 85%;
    height: 60vh;
    background: center no-repeat;
    background-size: cover;
}


.text
{
    text-align: left;
    width: 85%;
    margin: 20px auto;
    font-weight: 400;
}

.readMore
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 20%;
    margin: 0 auto;
    font-size: 20px;
    height: 40px;
    transition: background 0.2s ease-in-out;
    
}

a
{
    text-decoration: none;
}

.readMore:hover
{
   background: #404040;;
}

article > section
{
    display: flex;
    justify-content: space-between;
    color: grey;
    margin: 40px;
}

article > section > div > a
{
    color: grey;
    transition: color 0.2s;
}

article > section > div > a:hover
{
    color: black;
}

/* ---------------------------------- Sidebar Section ------------------------------- */ 

.sidebar
{
    margin-left: 50px;
    font-size: 17px;
    background: white;
    width: 25%;
    
}

.tile
{
    
}

.blackbar
{
    display: flex;
    color: white;
    background: black;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
}

.authorimg
{
    background: center no-repeat;
    background-size: cover;
    width: 85%;
    height: 25vh;
    margin: 0 auto;
    margin: 20px auto;
}

aside > .text
{
    text-align: center;
    color: gray;
    margin: 30px auto;
}
