body
{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: whitesmoke;
}

img
{
    display: block;
}

:root
{
    --darkTheme: #202020;
    --white: #FFF;
}

.navbar
{
    width: 100%;
    background: var(--darkTheme);
    color: var(--white);
    display: flex;
    border-top: 1px solid gray;
    justify-content: space-around;
}

.hamburger
{
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.hamburgerBTN
{
    width: 38px;
    height: 5px;
    border-radius: 2px;
    background: var(--white);
    position: absolute;
    transition: background .5s ease-in-out;
}

.hamburgerBTN::before,
.hamburgerBTN::after
{
    content: '';
    width: 38px;
    height: 5px;
    border-radius: 2px;
    background: var(--white);
    position: absolute;
    transition: transform .5s ease-in-out;
}

/* HAMBURGER ANIMATION ------------------------------------------------ */
.hamburger.open .hamburgerBTN::before
{
    transform: rotate(45deg);
}

.hamburger.open .hamburgerBTN::after
{
    transform: rotate(-45deg);
    
}

.hamburger.open .hamburgerBTN
{
    background: none;
}

/* HAMBURGER ANIMATION  ---------------------------------------------- */
.hamburgerBTN::before
{
    transform: translateY(-12px);
}

.hamburgerBTN::after
{
    transform: translateY(12px);
}

.navitem
{
    display: flex;
}

.button
{
    padding: 20px;
}

.button> a:hover
{
    color:gray;
}

.button > a
{
    text-decoration: none;
    color: var(--white);
    transition: color 0.2s;
}


.logo > h1
{
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo > h1 > img
{
    border-radius: 50%;
    margin-right: 20px;
}

.container
{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
}
.article
{
    width: 70%;
}

article
{
    background: var(--white);
    margin-bottom: 40px;

}

.articleheader
{
    text-align: center;
}

.articleheader > h1
{
    margin: 0;
    padding: 40px;
    font-size: 42px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.articleheader > h2
{
    font-size: 15px;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1;
}

.image
{
    margin: 0 auto;
    width: 85%;
    height: 60vh;
    background: center no-repeat;
    background-size: cover;
}


.text
{
    text-align: left;
    width: 85%;
    margin: 20px auto;
    font-weight: 400;
    padding-bottom: 10px;
}

.readMore
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--darkTheme);
    color: var(--white);
    width: 20%;
    margin: 0 auto;
    font-size: 20px;
    height: 40px;
    transition: background 0.2s ease-in-out;
    
}

a
{
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

.readMore:hover
{
   background: #404040;
}

article > section
{
    display: flex;
    justify-content: space-between;
    color: grey;
    padding: 40px;
}

article > section > div > a
{
    color: grey;
    transition: color 0.2s;
}

article > section > div > a:hover
{
    color: black;
}

/* ---------------------------------- Sidebar Section ------------------------------- */ 

.sidebar
{
    margin-left: 50px;
    font-size: 17px;
    width: 25%;
}

.tile
{
    background: var(--white);
    margin-bottom: 40px;
}
.blackbar
{
    display: flex;
    color: var(--white);
    background: var(--darkTheme);
    height: 45px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
}

.authorimg
{
    width: 85%;
    margin: 20px auto;
}

.grid
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    padding: 25px;
    gap: 5px;
}

.grid > a
{
    color:gray;
}

.griditem
{
    font-size: 15px;
    border: 1px solid lightgray;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: color 0.2s;
}

.griditem:hover 
{
    color: black;
}

.griditem > i
{
    display: block;
    font-size: 25px;
    padding-bottom: 10px;
}

.newbar
{
    margin-top: 5px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    color: grey;
}

.newbar:last-child
{
    border: none;
}

.newimg
{
    width: 25%;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 1px;
    height: 30%;
    margin: auto 30px 0 0;
}

.newbar > div > header > h3
{
    margin-top: 0;
    font-size: 17px;
    color: black;
}

.tile > ul
{
   font-size: 17px;
   padding: 0;
}

.tile > ul > a > li
{
    list-style-type: none;
   padding: 10px 0 10px 20px;
   border-bottom: 1px solid lightgray;
}

.tile > ul > a:hover
{
   color: gray;
}

.tile > ul > li:first-child
{
 padding: 0 0 10px 20px;
}

.tile > ul > li:last-child
{
    border: none;
}

/* -------------------------footer------------------------- */

footer
{
    text-align: center;
    background: var(--darkTheme);
    color: var(--white);
    padding: 20px;
}

/* ------------------media query------- */

@media screen and (max-width: 1500px)
{
    .container
    {
        width: 90%;
    }

    .newimg
    {
        width: 20%;
        height: 30%;
    }
}

@media screen and (max-width: 1150px)
{
    .grid
    {
        padding: 5px;
    }

    .sidebar
    {
        width: 30%;
    }

    .newimg
    {
        margin: 0;
        margin-right: 20px;
    }
}

@media screen and (max-width: 900px)
{
    .logo > h1
    {
        font-size: 48px;
    }

    .hamburger
    {
        display: flex;
        margin-right: 0;
    }

    .navbar
    {
        flex-direction: column-reverse;
    }

    .navitem
    {
        flex-direction: column-reverse;
        display: none;
    }

    .sidebar
    {
        width: 100%;
        margin: 0;
    }

    .container
    {
        flex-direction: column;
    }

    .article
    {
        width: 100%;
    }

    .readMore
    {
        width: 40%;
    }

    .image
    {
        height: 50vh;
    }

    .ad
    {
        display: none;
    }
}

/* KLASY DODATKOWE ------------------ */
.display
{
    display: flex;
}
/* KLASY DODATKOWE ------------------ */

/* W trakcie
@media (prefers-color-scheme: dark) {

    body
    {
        color: rgba(255,255,255,0.8);
    }
    :root
    {
        --white: #202020;
        --darkTheme: rgba(255,255,255,0.8);
    }
}